extends ../layout/index
block contenido
    main.container-mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Mauris id ipsum convallis, dictum libero ut, bibendum felis. Sed aliquet, sapien non sagittis tincidunt, velit purus dapibus est, eget pretium nisl lorem vel lectus. Aliquam erat volutpat. Nam ac arcu vitae massa feugiat pulvinar. Cras faucibus tortor at elit sollicitudin, at elementum quam faucibus.
                p mauris, nec mattis orci. Nullam suscipit nunc et augue pulvinar, mollis blandit sem volutpat. Integer sit amet tincidunt purus. Donec mollis vitae nibh quis semper. Aliquam ligula ex, sagittis sed dui at, elementum pulvinar tellus. Etiam enim sapien, blandit aliquet imperdiet eget, laoreet in tellus. Quisque et tortor id dui posuere iaculis. Maecenas ultricies velit vel elit suscipit, nec auctor tortor luctus. Ut fermentum finibus felis, quis euismod nisi. Suspendisse potenti. Sed scelerisque metus odio, nec sollicitudin lorem elementum ac.
                p Mauris laoreet tincidunt maximus. Nulla facilisi. Sed at purus odio. Etiam libero ligula, dictum et arcu ut, ornare dapibus nibh. Phasellus ornare, leo ut hendrerit condimentum, ipsum nisi volutpat lorem, ut iaculis enim enim ut tortor. Donec dignissim fermentum orci, at dignissim tellus rhoncus nec. Cras volutpat metus velit, eget lacinia enim lacinia vel.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p mauris, nec mattis orci. Nullam suscipit nunc et augue pulvinar, mollis blandit sem volutpat. Integer sit amet tincidunt purus.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p mauris, nec mattis orci. Nullam suscipit nunc et augue pulvinar, mollis blandit sem volutpat. Integer sit amet tincidunt purus.
                .col-md-4
                    img(src="img/icono_precio.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p mauris, nec mattis orci. Nullam suscipit nunc et augue pulvinar, mollis blandit sem volutpat. Integer sit amet tincidunt purus.